* {
    font-family: monospace;
}
body {
    font-size: 15px;
}
.another {
    color:blueviolet;
}
#Jesus {
    background-color: yellow;
}
h1, h2 {
    color: yellow;
}
a {
    color:blueviolet;
}

a:hover, a:active {
    color:black;
}

a:visited{
    color:red;
}